@{
    ViewData["Title"] = "Browse";
}
@using GiantBomb.Api
@using System.Text.Json

@{
    List<int> SwapIds = new List<int>();
    foreach (Swap s in ViewBag.AllSwaps)
    {
        SwapIds.Add(s.GameId);
    }
}
<div class="text-center">
    <h1 class="text-start">Available Listings</h1>
    <div class="row">
        @foreach (Game g in ViewBag.AllGames)
        {
            if(!SwapIds.Contains(g.GameId) && g.UserId != Context.Session.GetInt32("user"))
            {
                <div class="col-3 mt-2">
                    <div class="card bg-light" style="max-width: 12rem;">
                        <p class="card-title text-dark">@g.Title</p>
                        <img class="card-img" src="@g.Image" alt="@g.Title Cover Image" style="max-height: 210px;">
                        <p><a href="/game/@g.GameId" class="card-text stretched-link text-dark">@g.Platform | @g.Price Coins | @g.Owner.Username</a></p>
                    </div>
                </div>
            }
        }
    </div>
</div>