@{
    ViewData["Title"] = "Dashboard";
}

@functions {
    List<int> GetSwapIds(IEnumerable<Swap> swaps)
    {
        return swaps.Select(s => s.GameId).ToList();
    }
}

<div class="text-center">
    <div class="row">
        <div>
            <h1>Welcome, @ViewBag.LoggedUser.Username</h1>
        </div>
    </div>
    <div class="row">
        <h5>Current Coins: @ViewBag.LoggedUser.Coins</h5>
    </div>
    <div class="row">
        <div class="mt-2">
            <form action="/user/addcoins" method="post">
                <input type="submit" value="Add 10 Coins" class="btn btn-info">
            </form>
        </div>
    </div>

    <h4 class="text-start">Your Current Listings</h4>
    <div class="row">
        @{
            List<int> swapIds = GetSwapIds(ViewBag.RelevantSwaps);
        }
        @foreach (Game g in ViewBag.LoggedUser.OwnedGames)
        {
            if (!swapIds.Contains(g.GameId))
            {
                @:<div class="col-3 mt-2">
                @:<div class="card bg-info" style="max-width: 12rem;">
                @:<p class="card-title">@g.Title</p>
                @:<img class="card-img" src="@g.Image" alt="@g.Title Cover Image" style="max-height: 225px;">
                @:<p><a href="/game/@g.GameId" class="card-text stretched-link text-white">@g.Platform | @g.Price Coins</a></p>
                @:</div>
                @:</div>
            }
        }
    </div>
    <hr>
    <div class="row justify-content-end text-end">
        <div class="col-3">
            <a href="/browse" class="btn btn-primary">Browse Available Games</a>
        </div>
        <div class="col-2">
            <a href="/game/new" class="btn btn-success">List a New Game</a>
        </div>
    </div>
    <h4 class="text-start">Your Pending Swaps</h4>
    <div class="row">
        @foreach (Swap s in ViewBag.RelevantSwaps)
        {
            if (s.GameReceived != 1)
            {
                @:<div class="col-3 mt-2">
                @:<div class="card bg-success" style="max-width: 12rem;">
                @:<p class="card-title">@s.Game.Title</p>
                @:<p class="card-text">Swapped to: @s.Buyer.Username From: @s.Seller.Username</p>
                @:<img class="card-img" src="@s.Game.Image" alt="@s.Game.Title Cover Image" style="max-height: 225px;">
                @:<p><a href="/swap/view/@s.SwapId" class="card-text stretched-link text-white">Price: @s.FinalPrice</a></p>
                @:</div>
                @:</div>
            }
        }
    </div>
</div>
